In [1]:
import warnings
warnings.filterwarnings('ignore')
import math
import pandas as pd

In [2]:
dec_2022_df = pd.read_csv('Resources/202212-citibike-tripdata.csv')
jan_2023_df = pd.read_csv('Resources/202301-citibike-tripdata.csv')
feb_2023_df = pd.read_csv('Resources/202302-citibike-tripdata.csv')
mar_2023_df = pd.read_csv('Resources/202303-citibike-tripdata.csv')

raw_combined_df = pd.concat((dec_2022_df, jan_2023_df, feb_2023_df, mar_2023_df))

In [3]:
clean_df = raw_combined_df.dropna(how='any')
clean_df = clean_df.reset_index(drop=True)
clean_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0EF496F342AD4E7E,classic_bike,2022-12-05 17:47:32,2022-12-05 18:13:10,DeKalb Ave & Hudson Ave,4513.06,Perry St & Bleecker St,5922.07,40.689909,-73.980552,40.735354,-74.004831,member
1,4B9482CBC3FAC46B,classic_bike,2022-12-08 19:08:05,2022-12-08 19:20:23,E 128 St & Madison Ave,7735.23,E 142 St & 3 Ave,7781.10,40.807518,-73.939027,40.812735,-73.923697,member
2,59F23FEB16138E43,classic_bike,2022-12-22 19:11:48,2022-12-22 19:21:46,E 128 St & Madison Ave,7735.23,E 142 St & 3 Ave,7781.10,40.807569,-73.939101,40.812735,-73.923697,member
3,974F8AE1F18859F4,classic_bike,2022-12-12 08:38:09,2022-12-12 08:43:43,Driggs Ave & N Henry St,5542.04,Meserole Ave & Manhattan Ave,5666.04,40.723208,-73.943045,40.727086,-73.952991,casual
4,4B04C5C25EC9D6ED,classic_bike,2022-12-13 12:29:54,2022-12-13 12:36:35,3 St & 3 Ave,4028.03,Carroll St & 6 Ave,4019.06,40.675071,-73.987752,40.674089,-73.978728,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7430527,57870BEBA3FF73E4,classic_bike,2023-03-31 05:46:55,2023-03-31 05:49:53,11 Ave & W 27 St,6425.04,W 34 St & 11 Ave,6578.01,40.751396,-74.005226,40.755942,-74.002116,member
7430528,4E31529528517CC8,electric_bike,2023-03-16 02:18:25,2023-03-16 02:22:53,11 Ave & W 27 St,6425.04,W 37 St & 10 Ave,6611.02,40.751396,-74.005226,40.756604,-73.997901,member
7430529,CBE65CCA422B3768,classic_bike,2023-03-17 08:38:51,2023-03-17 08:42:12,11 Ave & W 27 St,6425.04,W 37 St & 10 Ave,6611.02,40.751197,-74.005479,40.756604,-73.997901,member
7430530,C6F86C00DD3ABFB0,classic_bike,2023-03-15 19:19:26,2023-03-15 19:32:40,Putnam Ave & Throop Ave,4392.04,Melrose St & Broadway,4801.04,40.685153,-73.941110,40.697481,-73.935877,member
7430531,7C2E424FD54ACAD5,classic_bike,2023-03-29 09:13:23,2023-03-29 09:19:46,11 Ave & W 27 St,6425.04,W 37 St & 10 Ave,6611.02,40.751328,-74.005502,40.756604,-73.997901,member

In [4]:
print(f'{len(raw_combined_df) - len(clean_df)} of {len(raw_combined_df)} rows removed')
print(f'{(math.floor((len(clean_df) / len(raw_combined_df)) * 100000)/1000)}%')
print('----------------------------')
print(f'DataFrame now contains {len(clean_df)} rows')

20683 of 7451215 rows removed
99.722%
----------------------------
DataFrame now contains 7430532 rows

In [5]:
clean_df['rideable_type'].value_counts()

classic_bike     6002336
electric_bike    1408798
docked_bike        19398
Name: rideable_type, dtype: int64

In [6]:
clean_df['member_casual'].value_counts()

member    6467750
casual     962782
Name: member_casual, dtype: int64

In [7]:
clean_df['start_station_name'].value_counts()

W 21 St & 6 Ave            34387
University Pl & E 14 St    30061
1 Ave & E 68 St            28254
6 Ave & W 33 St            26143
W 31 St & 7 Ave            25875
                           ...
42 St & 1 Ave                 23
57 St & Woodside Ave          19
N Henry St & Norman Ave       17
Monitor St & Meeker Ave       13
Lab - NYC                      3
Name: start_station_name, Length: 1819, dtype: int64

In [8]:
clean_df['end_station_name'].value_counts()

W 21 St & 6 Ave            34517
University Pl & E 14 St    30172
1 Ave & E 68 St            28491
6 Ave & W 33 St            26301
W 31 St & 7 Ave            26029
                           ...
JC Medical Center              1
Journal Square                 1
Clinton St & 7 St              1
Riverview Park                 1
Manila & 1st                   1
Name: end_station_name, Length: 1875, dtype: int64

In [9]:
clean_df['started_at'] = pd.to_datetime(clean_df['started_at'])
clean_df['ended_at'] = pd.to_datetime(clean_df['ended_at'])

In [10]:
clean_df.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

In [11]:
lengths = []
counter = 0
for i in range(len(clean_df)):
    this_length = clean_df['ended_at'][i] - clean_df['started_at'][i]
    secs = int(this_length.total_seconds())
    lengths.append(secs)
    
    # This is just a progress monitor, since this loop takes a while to complete . . .
    if ((i % 40604) == 0):
        percent = ((math.floor((counter/183)*1000000))/10000)
        print(f'{counter} out of 183\tor\t{percent}%')
        counter += 1
    
clean_df['trip_duration'] = lengths

0 out of 183	or	0.0%
1 out of 183	or	0.5464%
2 out of 183	or	1.0928%
3 out of 183	or	1.6393%
4 out of 183	or	2.1857%
5 out of 183	or	2.7322%
6 out of 183	or	3.2786%
7 out of 183	or	3.8251%
8 out of 183	or	4.3715%
9 out of 183	or	4.918%
10 out of 183	or	5.4644%
11 out of 183	or	6.0109%
12 out of 183	or	6.5573%
13 out of 183	or	7.1038%
14 out of 183	or	7.6502%
15 out of 183	or	8.1967%
16 out of 183	or	8.7431%
17 out of 183	or	9.2896%
18 out of 183	or	9.836%
19 out of 183	or	10.3825%
20 out of 183	or	10.9289%
21 out of 183	or	11.4754%
22 out of 183	or	12.0218%
23 out of 183	or	12.5683%
24 out of 183	or	13.1147%
25 out of 183	or	13.6612%
26 out of 183	or	14.2076%
27 out of 183	or	14.754%
28 out of 183	or	15.3005%
29 out of 183	or	15.8469%
30 out of 183	or	16.3934%
31 out of 183	or	16.9398%
32 out of 183	or	17.4863%
33 out of 183	or	18.0327%
34 out of 183	or	18.5792%
35 out of 183	or	19.1256%
36 out of 183	or	19.6721%
37 out of 183	or	20.2185%
38 out of 183	or	20.765%
39 out of 183	or	21.3114%
40 out of 183	or	21.8579%
41 out of 183	or	22.4043%
42 out of 183	or	22.9508%
43 out of 183	or	23.4972%
44 out of 183	or	24.0437%
45 out of 183	or	24.5901%
46 out of 183	or	25.1366%
47 out of 183	or	25.683%
48 out of 183	or	26.2295%
49 out of 183	or	26.7759%
50 out of 183	or	27.3224%
51 out of 183	or	27.8688%
52 out of 183	or	28.4153%
53 out of 183	or	28.9617%
54 out of 183	or	29.5081%
55 out of 183	or	30.0546%
56 out of 183	or	30.601%
57 out of 183	or	31.1475%
58 out of 183	or	31.6939%
59 out of 183	or	32.2404%
60 out of 183	or	32.7868%
61 out of 183	or	33.3333%
62 out of 183	or	33.8797%
63 out of 183	or	34.4262%
64 out of 183	or	34.9726%
65 out of 183	or	35.5191%
66 out of 183	or	36.0655%
67 out of 183	or	36.612%
68 out of 183	or	37.1584%
69 out of 183	or	37.7049%
70 out of 183	or	38.2513%
71 out of 183	or	38.7978%
72 out of 183	or	39.3442%
73 out of 183	or	39.8907%
74 out of 183	or	40.4371%
75 out of 183	or	40.9836%
76 out of 183	or	41.53%
77 out of 183	or	42.0765%
78 out of 183	or	42.6229%
79 out of 183	or	43.1693%
80 out of 183	or	43.7158%
81 out of 183	or	44.2622%
82 out of 183	or	44.8087%
83 out of 183	or	45.3551%
84 out of 183	or	45.9016%
85 out of 183	or	46.448%
86 out of 183	or	46.9945%
87 out of 183	or	47.5409%
88 out of 183	or	48.0874%
89 out of 183	or	48.6338%
90 out of 183	or	49.1803%
91 out of 183	or	49.7267%
92 out of 183	or	50.2732%
93 out of 183	or	50.8196%
94 out of 183	or	51.3661%
95 out of 183	or	51.9125%
96 out of 183	or	52.459%
97 out of 183	or	53.0054%
98 out of 183	or	53.5519%
99 out of 183	or	54.0983%
100 out of 183	or	54.6448%
101 out of 183	or	55.1912%
102 out of 183	or	55.7377%
103 out of 183	or	56.2841%
104 out of 183	or	56.8306%
105 out of 183	or	57.377%
106 out of 183	or	57.9234%
107 out of 183	or	58.4699%
108 out of 183	or	59.0163%
109 out of 183	or	59.5628%
110 out of 183	or	60.1092%
111 out of 183	or	60.6557%
112 out of 183	or	61.2021%
113 out of 183	or	61.7486%
114 out of 183	or	62.295%
115 out of 183	or	62.8415%
116 out of 183	or	63.3879%
117 out of 183	or	63.9344%
118 out of 183	or	64.4808%
119 out of 183	or	65.0273%
120 out of 183	or	65.5737%
121 out of 183	or	66.1202%
122 out of 183	or	66.6666%
123 out of 183	or	67.2131%
124 out of 183	or	67.7595%
125 out of 183	or	68.306%
126 out of 183	or	68.8524%
127 out of 183	or	69.3989%
128 out of 183	or	69.9453%
129 out of 183	or	70.4918%
130 out of 183	or	71.0382%
131 out of 183	or	71.5846%
132 out of 183	or	72.1311%
133 out of 183	or	72.6775%
134 out of 183	or	73.224%
135 out of 183	or	73.7704%
136 out of 183	or	74.3169%
137 out of 183	or	74.8633%
138 out of 183	or	75.4098%
139 out of 183	or	75.9562%
140 out of 183	or	76.5027%
141 out of 183	or	77.0491%
142 out of 183	or	77.5956%
143 out of 183	or	78.142%
144 out of 183	or	78.6885%
145 out of 183	or	79.2349%
146 out of 183	or	79.7814%
147 out of 183	or	80.3278%
148 out of 183	or	80.8743%
149 out of 183	or	81.4207%
150 out of 183	or	81.9672%
151 out of 183	or	82.5136%
152 out of 183	or	83.0601%
153 out of 183	or	83.6065%
154 out of 183	or	84.153%
155 out of 183	or	84.6994%
156 out of 183	or	85.2459%
157 out of 183	or	85.7923%
158 out of 183	or	86.3387%
159 out of 183	or	86.8852%
160 out of 183	or	87.4316%
161 out of 183	or	87.9781%
162 out of 183	or	88.5245%
163 out of 183	or	89.071%
164 out of 183	or	89.6174%
165 out of 183	or	90.1639%
166 out of 183	or	90.7103%
167 out of 183	or	91.2568%
168 out of 183	or	91.8032%
169 out of 183	or	92.3497%
170 out of 183	or	92.8961%
171 out of 183	or	93.4426%
172 out of 183	or	93.989%
173 out of 183	or	94.5355%
174 out of 183	or	95.0819%
175 out of 183	or	95.6284%
176 out of 183	or	96.1748%
177 out of 183	or	96.7213%
178 out of 183	or	97.2677%
179 out of 183	or	97.8142%
180 out of 183	or	98.3606%
181 out of 183	or	98.9071%
182 out of 183	or	99.4535%

In [12]:
clean_df.describe()

          start_lat     start_lng       end_lat       end_lng  trip_duration
count  7.430532e+06  7.430532e+06  7.430532e+06  7.430532e+06   7.430532e+06
mean   4.073999e+01 -7.397418e+01  4.073995e+01 -7.397431e+01   7.205340e+02
std    3.896995e-02  2.610084e-02  3.887977e-02  2.607146e-02   2.050945e+03
min    4.062737e+01 -7.402711e+01  4.063338e+01 -7.408670e+01  -2.080000e+03
25%    4.071591e+01 -7.399233e+01  4.071602e+01 -7.399239e+01   2.730000e+02
50%    4.073971e+01 -7.398124e+01  4.073945e+01 -7.398132e+01   4.810000e+02
75%    4.076238e+01 -7.395851e+01  4.076229e+01 -7.395851e+01   8.370000e+02
max    4.088233e+01 -7.386757e+01  4.088226e+01 -7.388145e+01   9.303770e+05

In [13]:
clean_df.to_csv('Resources/combined_clean_data.csv', index=False)